[Unit]
Description=Bitcoin Core Service 1
After=network.target

[Service]
ExecStart=/home/pi/bitcoin/bitcoin/src/bitcoind -conf=/mount/ssd/bitcoin/signet/bitcoin.conf
Restart=always
User=pi
Group=pi

[Install]
WantedBy=default.target
