[Unit]
Description=Bitcoin Core Service 3
After=network.target

[Service]
ExecStart=sudo /home/pi/bitcoin/bitcoin/src/bitcoind -conf=/mount/ssd/bitcoin/signet3/bitcoin.conf
Restart=always
User=root
Group=root

[Install]
WantedBy=default.target
