[Unit]
Description=Bitcoin Core Service 2
After=network.target

[Service]
ExecStart=/home/pi/bitcoin/bitcoin/src/bitcoind -conf=/mount/ssd/bitcoin/signet2/bitcoin.conf
Restart=always
User=pi
Group=pi

[Install]
WantedBy=default.target
