[Unit]
Description=Bitcoin Core Service 3
After=network.target

[Service]
ExecStart=pi /home/pi/bitcoin/bitcoin/src/bitcoind -conf=/mount/ssd/bitcoin/signet3/bitcoin.conf
Restart=always
User=pi
Group=pi

[Install]
WantedBy=default.target
