[Unit]
Description=LND Service 2
After=network.target

[Service]
ExecStart=/home/pi/lnd/lnd --lnddir=/mount/ssd/lnd/signet2 
Restart=always
User=pi      
Group=pi       

[Install]
WantedBy=default.target
