[Unit]
Description=LND Service 3
After=network.target

[Service]
ExecStart=sudo /home/pi/lnd/lnd --lnddir=/mount/ssd/lnd/signet3 
Restart=always
User=root      
Group=root       

[Install]
WantedBy=default.target
