[Unit]
Description=LND Service 3
After=network.target

[Service]
ExecStart=pi /home/pi/lnd/lnd --lnddir=/mount/ssd/lnd/signet3 
Restart=always
User=pi      
Group=pi       

[Install]
WantedBy=default.target
