[Unit]
Description=Surge Service
After=network.target

[Service]
ExecStart=/home/pi/agent/surge --config=/mount/ssd/surge/signet/surge.conf 
Restart=always
User=pi      
Group=pi       

[Install]
WantedBy=default.target
